* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

nav {
    width: 85%;
    margin: auto;
}

.collapse {
    
    justify-content: center;

}

.iconDiv {
    display: flex;
    gap: 20px;

}

main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#organicVegetable {
    


    .text {
        padding-left: 75px;
       margin-right: -20px;
        width: 100%;

        span {
            color: #7FAD39;
        }

        h1 {
            font-weight: 300px;
        }

        p {
            padding: 10px;
        }

        #btnShop {
            padding: 5px 20px;
            border: 1px solid #7FAD39;
            background-color: #7FAD39;
            color: white;
        }
    }

    .fruit {
        img {
            width: 100%;
            min-height: 400px;
        }
    }
}

#vegetablesSec {

    .vegetables {
        width: 100%;
        img{
            width: 100%;
        }

        p {
            text-align: center;
            margin: -20px;
        }
    }
}

#featuredProduct {

    .drinkFruits {
      
        .best {
            h1 {

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
            }

            .line {
                background-color: #7FAD39;
                min-height: 3px;
                max-width: 60px;
            }
        }
    }

    .allFruits {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

}
#summerFruit{
    width: 100%;
    .natural{
        img{
            width: 100%;
        }
    }
}